[Desktop Entry]
Name=Clouds Windows VM
Exec=clouds %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/clouds.png
StartupWMClass=clouds
Comment=Download, install, and run Windows in a VM
